# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# http://doc.scrapy.org/en/latest/topics/scrapyd.html

[settings]
default = parks_scraper.settings

[scrapyd]
application = scrapy_heroku.app.application
items_dir =

[deploy]
url = http://ocr-spiders.herokuapp.com:80/
project = parks_scraper
username = brutimus
password = brutimus
